<h2 align="center">Title: <%= @article.title %></h2>
<hr>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center"><strong>Description</strong></h4>

  <%= @article.description %>
</div>






<%= link_to "Edit this Article", edit_article_path(@article) %> |
<%= link_to "Back to articles listing", articles_path %>
