<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy, <a href="//www.github.com/dorani"> The coding Ninja is here! </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", '#' %></li>
      </ul>
    </nav>
  </footer>
</div>
