<div class="jumbotron">
  <h1 class="display-4">Alpha Blog</h1>
  <p class="lead">Ruby on Rails Blog App.</p>
  <hr class="my-4">
  <p>Post about anything you want!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create</a>
</div>
