/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */





 @import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('image1.jpg');
  background-size: cover;
  color: white;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.card  {
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.5em;
}

.card-text {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 1.5em;
}
.card-text p {
  text-decoration: remove;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.card-header {
  text-align: center;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
